<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDid-TemP9F19kG9al751UJplTP081R6Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>555097693565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alpewaIOS.IntelectualPath</string>
	<key>PROJECT_ID</key>
	<string>intelectualpath</string>
	<key>STORAGE_BUCKET</key>
	<string>intelectualpath.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555097693565:ios:b285808ad8ef70b31e8014</string>
</dict>
</plist>